{% extends 'gallery/base.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}
<h2>All Images</h2>
<form method="get">
    <input type="text" name="tag" placeholder="Search by tag">
    <button type="submit">Filter</button>
</form>
<ul>
    {% for image in images %}
        <li>
            <a href="{% url 'image-detail' image.pk %}">{{ image.title }}</a> (Tags: {{ image.tags }})
            <img src="{{ image.image.url }}">
        </li>
    {% endfor %}
</ul>
<a href="/upload/" class="upload-button">Upload a Picture</a>
<a href="/history/" class="history-button">History</a>
{% endblock %}
